body{
    background-image: url(vitamins_PNG5.png);
    font-family: ubuntu;
    color: aliceblue;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.cim{
    text-align: center;
}
p{
    font-style: italic;
    font-weight: bold;
}